<div class="p-index">
    <section class="p-index_hero">
        <svg id="skull" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" enable-background="new 0 0 640 640">
          <g id="jaw" stroke="#3f3f3f" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"
            stroke-miterlimit="10">
            <path fill="#fff"
              d="M252.4 372.8s28.1 12.3 67.6 12.3 67.6-12.3 67.6-12.3v42.9s-37.8 15.5-67.6 15.5-67.6-15.5-67.6-15.5v-42.9z" />
            <path fill="none" d="M320 388.8V402M297.5 383.5V402M274.9 379.8V402M342.5 386.5V402M365.1 379.8V402" />
          </g>
          <g id="tongue" stroke="#3f3f3f" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"
            stroke-miterlimit="10">
            <path fill="#dd33b3" d="M283.9 275.4v72.1c0 19.9 16.1 36.1 36.1 36.1s36.1-16.1 36.1-36.1v-72.1h-72.2z" />
            <path fill="none" d="M320 275.4v77.8" />
          </g>
          <g id="head">
            <path fill="#fff" stroke="#3f3f3f" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"
              stroke-miterlimit="10"
              d="M415.7 243.3c0-52.8-42.8-95.7-95.7-95.7s-95.7 42.8-95.7 95.7c0 21 6.8 40.4 18.2 56.1L231 310.9l21.3 21.3v40.5s28.1 12.3 67.6 12.3 67.6-12.3 67.6-12.3v-40.5l21.3-21.3-11.5-11.5c11.6-15.8 18.4-35.2 18.4-56.1z" />
            <path fill="#3f3f3f" stroke="#3f3f3f" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
              stroke-miterlimit="10" d="M299.2 332.3l20.8-36 20.8 36z" />
            <circle fill="#3f3f3f" cx="278.4" cy="268.4" r="34.1" />
            <circle fill="#3f3f3f" cx="361.6" cy="268.4" r="34.1" />
            <path fill="none" stroke="#3f3f3f" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"
              stroke-miterlimit="10"
              d="M320 385v-26.4M297.5 383.5v-26.4M274.9 379.7v-26.4M342.5 383.5v-26.4M365.1 379.8v-26.5" />
          </g>
          <ellipse id="shadow" fill="#3f3f3f" cx="320" cy="479.4" rx="70" ry="23" />
        </svg>
        <h1>
            {{ main[locale].welcome }}
        </h1>
        <p>
            {{ main[locale].siteDescription | safe }}
        </p>
    </section>
</div>
